<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Демонстрационный лендинги Leadvertex.ru">
    <meta name="keywords" content="лендинг, оффер, товарка">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/styles/github.min.css">
    <link rel="stylesheet" href="{{files}}/style.css"/>
    <title>Демо-лендинг</title>
    {{jquery}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <!--[if !lte IE 8]>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script>
    <!--<![endif]-->
    <script src="{{files}}/script.js"></script>
</head>
<body>
<div class="container">
    {{active_index=""}}
    {{active_landing=""}}
    {{active_docs=""}}
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Демонстрационный лендинг</a>
            <ul class="nav">
                <li class="{{active_index}}"><a href="/index.html">Главная</a></li>
                <li class="{{active_demo}}"><a href="/demo.html">Форма с товаром</a></li>
                <li class="{{active_landing}}"><a href="/landing.html">Перенос лендинга</a></li>
                <li class="{{active_docs}}"><a href="/docs.html">Документация</a></li>
            </ul>
        </div>
    </div>

    {{content}}

    <hr>

    <footer>
        <p>(C) {{title}}, {{year}}</p>
    </footer>

</div>
<!-- /container -->
</body>
</html>