{{page="Главная страница"}}
{{active_index="active"}}
<div>
    <h1>Ваш персональный демо-проект</h1>
    <p>
        Вы находитесь на странице вашего персонального демо-проекта, в котором вы сможете оценить весь функционал нашего сервиса.
        Это стандартный лендинг (дизайн) для демонстрационных проектов, на котором мы постараемся показать вам все возможности.
        Можете смело делать здесь заказы и тестировать весь функционал нашего сервиса.
    </p>

    <h2>Маркетинговые уловки</h2>
    <div class="alert alert-info">
        Наш сервис позволяет использовать на лендингах специальные маркетинговые уловки, которые значительно повышают конверсию
    </div>
    <ul>
        <li>Уловки с датами. Например, «только {{today}}», «только с {{from_to}}», «только до {{only_to}}» </li>
        <li>
            Определять город и регион по IP-адресу. Полезно в отзывах, где пишется город человека, заказавшего товар.
            Или «только для жителей г.{{geo_city}} мы предлагаем скидку...»
        </li>
        <li>
            {{countdown.js}}
            Таймер обратного отсчёта. «До окончания акции осталось
            <span class="lv_countdown_days"></span>:<span class="lv_countdown_hours"></span>:<span class="lv_countdown_minutes"></span>:<span class="lv_countdown_seconds"></span>»
        </li>
    </ul>


    <h2>Форма заказа</h2>
    <div class="row">
        <div class="span5">
            {{form1Begin class="lv-order-form lv-order-form-css" id="lv-form" action="/success.html"}}
                <div class="lv-row">
                    {{form1Field name="fio" class="lv-input-fio" type="text" placeholder="ФИО" validator="~^.+$~"}}
                </div>
                <div class="lv-row">
                    {{form1Field name="phone" type="mask" placeholder="Телефон *" required="1" validator="+7(999)999-99-99"}}
                    {{form1Error name="phone" text="Необходимо заполнить поле «Телефон»."}}
                </div>
                <div class="lv-row">
                    {{form1Field name="comment" type="textarea" placeholder="Комментарий" validator="~^.+$~"}}
                </div>
                <div class="lv-row">
                    {{form1Field name="email" type="text" placeholder="Email" validator="~^.+$~"}}
                </div>
                <div class="lv-form-submit">
                    <input class="lv-order-button" type="submit" name="yt0" value="Оформить заказ">
                </div>
            {{form1End}}
        </div>
        <div class="span7">
            <div class="alert alert-info">
                Форма заказа и цены тесно связаны с настройками склада в каждом конкретном аккаунте. Для того, чтобы в полной
                мере оценить возможности формы заказа и однокликовых апселов перейдите на <a href="http://demo-1.leadvertex.ru/demo.html">наш демо-лендинг</a>
                или настройте склад в своем дефо-оффере <a href="/demo.html">по инструкции</a>
            </div>
        </div>
    </div>

    <h2>Остались вопросы?</h2>
    <p>
        Мы рекомендуем вам ознакомиться с нашими текстовыми или видео-инструкциями. Они сняты максимально кратко и понятно, и всего
        за 10 минут вы полностью разберетесь с тем, как работает наша система. Инструкции можно найти в
        <a href="http://blog.leadvertex.ru/">нашем блоге</a>, в разделе «Инструкции»
    </p>
    <p>
        В случае возникновения вопросов вы всегда можете обратиться в нашу <a href="http://leadvertex.ru/page/contact.html">службу поддержки</a>
        любым удобным для вас способом. Мы обязательно вам поможем <img src="http://www.kolobok.us/smiles/standart/good3.gif" alt=""/>
    </p>
    <p>
        Также мы рекомендуем вам подписаться на наши новости <a href="http://vk.com/leadvertex">ВКонтакте</a> для того, чтобы знать о
        новых возможностях нашего сервиса
    </p>

</div>
