<div class="row-fluid">
    {{form1Begin action="/upsell.html" alias="id1, id2" }}
    <div>
        {{form1Label for="fio" label="Ф.И.О. <span>*</span>"}}
        {{form1Field name="fio" id="fio123" type="text" required="1" validator="~^.+$~" class="textField"}}
        {{form1Error name="fio" text="Поле «Ф.И.О» заполнено неверно" class="1231" style="color: red"}}
    </div>
    <div>
        {{form1Label for="quantity" label="Количество" data-hint="что-нибудь2"}}
        {{good-quantity alias="id1" empty="Удалить" form="1"}}
    </div>
    <div>
        {{form1Label for="phone" label="Телефон <span>*</span>" data-hint="что-нибудь2"}}
        {{form1Field name="phone" type="mask" required="1" validator="+7(999)999-99-99" class="textField"}}
        {{form1Error name="phone" text="Поле «Телефон» заполнено неверно"  style="color: red"}}
    </div>
    <div>
        {{form1Field name="checkboxPersonalData" type="checkbox" required="1" style="margin: 0"}}
        {{form1Label for="checkboxPersonalData" label="Я принимаю условия" style="display: inline-block" }}
        {{form1Error name="checkboxPersonalData" text="Вы должны согласиться с условиями покупки" style="color: red"}}
    </div>
    <hr>
    <button type="submit" class="btn btn-success" style="width: 100%">Оформить заказ</button>
    {{form1End}}

    {{good-button alias="id1" remove="Удалить" addClass="add" form="1"}}

    <div>
        Цена часов <b>{{good-price alias="id1"}}</b> {{currency}}
    </div>
    <div>
        Цена часов за 2 штуки <b>{{good-price alias="id1" for="2"}}</b> {{currency}}
    </div>
    <div>
        Итого: <b>{{good-price-total formID="1"}}</b> {{currency}}
    </div>
    <hr>

    {{form2Begin action="/upsell.html" class="form" data-id="13" alias="id2,id16" style="border: thin solid #ccc; display: inline-block; padding: 15px"}}
    <div>
        {{form2Label for="fio" label="Ф.И.О. <span>*</span>" data-hint="что-нибудь"}}
        {{form2Field name="fio" type="text" required="1" validator="~^.+$~" class="textField"}}
        {{form2Error name="fio" text="Поле «Ф.И.О» заполнено неверно" class="1231" style="color: red"}}
    </div>
    <div>
        {{form2Label for="phone" label="Телефон <span>*</span>" data-hint="что-нибудь2"}}
        {{form2Field name="phone" type="mask" required="1" validator="+7(999)999-99-99" class="textField"}}
        {{form2Error name="phone" text="Поле «Телефон» заполнено неверно"  style="color: red"}}
    </div>
    <div>
        {{form2Label for="delivery" label="Доставка" data-hint="что-нибудь2"}}
        {{good-select goods="id16,id15," form="2" class="select2" data-attr="data"}}
    </div>
    <div>
        {{form2Label for="address" label="Адрес" data-hint="что-нибудь2"}}
        {{form2Field name="address" type="textarea" required="0" validator="~^.+$~" class="textField"}}
        {{form2Error name="address" text="Поле «Адрес» заполнено неверно"  style="color: red"}}
    </div>
    <hr>
    <button type="submit" class="btn btn-success" style="width: 100%">Оформить заказ</button>
    {{form2End}}

    <div>
        Цена браслета <b>{{good-price alias="id2"}}</b> {{currency}}
    </div>
    <div>
        Цена за 2 браслета <b>{{good-price alias="id2" for="2"}}</b> {{currency}}
    </div>
    <div>
        Итого: <b>{{good-price-total formID="2"}}</b> {{currency}}
    </div>
</div>

